{% extends "header.html" %}
{% block title %}JacknJill{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 

    }) 
	$( ".start_date" ).datepicker({
	  defaultDate: +7
	});
	  
</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<style>

	th , td{
		text-align: center !important;
		padding: 8px !important;
		border: 1px solid black !important;
	}
	/*.scrollable{
		overflow: scroll;
		height: 500px;
	}*/
	.scroll{
  		overflow-y: auto;
  		overflow-x: auto;
		height: 400px;
		margin-top: -5px;
		width: 100%;
		white-space: nowrap;
	}
	
	.scroll thead th {
	    position: sticky;
        top: 0;
        
	}
	.footer{
		position: sticky;
		bottom: 0;
		background-color: #69bc5f !important;
		color:  #fff;
	}

	.titledash{
		width:  100%;
		height:  50px;
		text-align: center;
		text-transform: capitalize;
		background-color: #5d50c6 !important;
		color:  #fff;
		font-size: 30px;
		font-weight: bold;
	}

	
	
	
	</style>

<div class="container ">
	<div class="row">
		<div  class="col-sm-12 col-md-12 col-xs-12">
			<br>
			
			
	
			
			
			<form method="POST" action="" enctype=""><br>
				{% csrf_token %}

				<label for="fname"><b>Date</b></label>
				<input class="border_right " type="date" onfocus="(this.type='date')" onblur="(this.type='date')" id="my_date_picker" name="date" placeholder="Enter MM/DD/YYYY" required="" value="{{start_of_m|date:'Y-m-d'}}">
				<!--<input class="border_foot start_date" type="date" id="my_date_picker" name="date_from" placeholder="Enter MM/DD/YYYY" required="">-->
				
				  
				<button type="submit" class="btn btn-primary btn-lg" ><b>Print dc</b></button>
			</form>
			<br>
			</div>
			</div>
			</div>

					 
</div>
<script src="{% static 'js/ajax-jquery.min.js' %}"></script><script>

    $(document).ready(function(){
    document.getElementById("my_date_picker").value = localStorage.getItem("my_date_picker");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("my_date_picker",document.getElementById("my_date_picker").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("my_date_picker1").value = localStorage.getItem("my_date_picker1");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("my_date_picker1",document.getElementById("my_date_picker1").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("route").value = localStorage.getItem("route");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("route",document.getElementById("route").value);
  });
</script>
<script>

    $(document).ready(function(){
    document.getElementById("center").value = localStorage.getItem("center");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("center",document.getElementById("center").value);
  });
</script>
<script type="text/javascript">
/*$("#displaytable").hide();
*/
/*$(document).ready(function(){
	$("#centerhide").hide()
		$('#getdata').click(function() {
			$("#centerhide").show()
	});
});*/

$(document).ready(function() {
	$('.scroll').click(function() {
		var element = document.getElementById("scroll")
	});
    $('[name="start_date"]').val( '{{start_of_yr | date:"m/d/yy"}}' );
    $('[name="end_date"]').val( '{{end_of_yr | date:"m/d/yy"}}' );
});
function toggleClass(id) {
	 console.log(id);
    // get the clock
    document.getElementById(id).getElementsByTagName("tr");

    // get the current value of the clock's display property
    var displaySetting = idss.style.visibility;
    console.log(displaySetting + ' + ' + idss)
    // now toggle the clock and the button text, depending on current state
    if (displaySetting == 'visibile') {
      // clock is visible. hide it
      idss.style.visibility = 'hidden';
          }
    else {
      // clock is hidden. show it
      idss.style.visibility = 'visibile';
    }

    console.log(displaySetting + ' + ' + idss)
  }
function toggleClass2(id) {

	 console.log(id);
    // get the clock
    //var ids = document.getElementById(id);
    var idss = document.getElementsByClassName(id);
    console.log(idss.length);


    // now toggle the clock and the button text, depending on current state
    for (i = 0; i < idss.length; i++) {

    if (idss[i].style.display == '') {
      // clock is visible. hide it
      idss[i].style.display = 'none';
          }
    else {
      // clock is hidden. show it
      idss[i].style.display = '';
    }
    console.log(idss[i] + idss[i].style.display)
  }}

</script>

<style type="text/css">
	
</style>
{% endblock %}