
{% extends "header.html" %}
{% block title %}JacknJill{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<link href='https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css' rel='stylesheet'> 
<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script> 
<script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> </script>
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 
    }) 
</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker1').val(today);
});</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
	table 
	{
	  border-collapse: collapse !important;
	  /*width: 100%;*/
	}
td 
	{
  		/*border: 1px solid #dddddd !important;*/
  		text-align: center; 
  		padding: 7px !important;
	}
th{
	text-align: center !important;
	padding: 7px !important;
	/*border: 1px solid #dddddd !important;*/
}
.no_pad{
	padding-left:0px !important;
	padding-right: 0px !important;
}
.td_border{
	border:none !important;
}
.td_border input{
	width:55% !important;
}
.btn_delete{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_delete:hover{
	background-color: rgb(83,4,4);
}
.btn_submit{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_submit:hover{
	background-color: rgb(83,4,4);
}
th{
	
	color:#000 !important;
}
 input{
	width:85px !important;
	
}
input[type=date]{
	width:150px !important;
}  
.scroll{
	overflow-y: auto;
	overflow-x: auto;
	height: 400px;
	margin-top: 0px;
	width: 100%;
	white-space: nowrap;

}
	
.scroll thead th {
	position: sticky;
    top: 0;
        
}
 

</style>


<div class="container">
	
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form  method="POST"  action="/manage_payments/" enctype="">
				{% csrf_token %}
				<h2><b><center> Update Daily Payments </center></b></h2>
				&emsp;

				<!--<label for="fname"><b>Order Date </b></label>&ensp;
				<input type="date"  id="datePicker1" name="orderdateP" placeholder="Enter YYYY/MM/DD" required="" >&emsp;&emsp;-->
				<!--<td>	<label for="fname"><b>Order No </b></label>&ensp;
											<select name="orderNoP" id="OrderNo" style="width:100px">
				{% for ds in Dailysales %}
				
												

												<option value="{{ds.orderNo}}"{% if ds.orderNo == form.ds.value %} selected{% endif %} selected>{{ds.orderNo}}-{{ds.netAmount}}</option>					
										  	
				{% endfor %}
				</select>
											    
										  
										</td> -->

				<td width="20%">	<label for="fname"><b>Customer </b></label>&ensp;
											<select name="custCodeR" id="custCodeR"  style="width:300px">
				{% for ds in Dailysales %}
				
												

												<option value="{{ds.custcode}}"{% if ds.custcode == form.ds.value %} selected{% endif %} selected>{{ds.custName}}-{{ds.custcode}}</option>					
										  	
				{% endfor %}
				</select>
											    
										  
										</td> 

				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				<button type="submit" class="btn btn-primary btn-lg" id="getdata" value="">Fetch </button>
			  	
			</form>
			<br>
		


			<!--Declaring new form to submit the matched data of Dok Entry and QC Emtry to Daily Data table.-->
			<form  method="POST"  action="/updatePayments/" enctype="">  
				{% csrf_token %}

			<div class="col-md-12 col-sm-12 col-xs-12" id="table_notshow">
				<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<!--	<h3><b><center>Manage Dock </center></b></h3>-->
					<div class ="scroll">
						<table class="css-serial">
							<thead class="tableHeadcolor">
					            <tr>	
					            		<th style="background-color: #69bc5f !important;">S.NO</th>	
					            		<th style="background-color: #69bc5f !important;">#Rec-Order - Date</th>

						                <th style="background-color: #69bc5f !important;">Receipt Date</th> 		<!--<th style="background-color: #69bc5f !important;">Order ID</th>	 -->        					     
						               

						               
						                
						                <th style="background-color: #69bc5f !important;">Rec Type</th>
						                <th style="background-color: #69bc5f !important;">Payment Reference No</th>
						                <th style="background-color: #69bc5f !important;">Receipt Amt</th>
						                <th style="background-color: #69bc5f !important;">Waiver</th>
						                
						                <th style="background-color: #69bc5f !important;">U P D A T E</th> 
						                 <th style="background-color: #69bc5f !important;">Net-O/s Amount </th>
						                <th style="background-color: #69bc5f !important;">Remarks</th>
						                 <th style="background-color: #69bc5f !important;">Customer </th>
						                
						            </tr>
						             <input type="hidden" maxlength= 10 value="{{dr.custcode}}" name="custCodeR" >

					        </thead>
					        <tbody id='form' class="form-block_1">
					        	
					        	
					            	{% for dr in dr2 %}

					            	<tr class="odd"  role="row">
					            		<td> &nbsp;</td>
					            		
					            		<!-- <td><input type="text" value="{{dc.date}}" name="date" ></td>
					            		 <td><input type="text" value="{{dc.shift}}" name="shift_loc1" ></td>-->
					            		 <!--x = datetime.strptime(request.POST["date"], "%Y-%m-%d")
										<td>{{board.date |date:'d-m-Y'}}</td>				-->
					            		<!--<input type="hidden" value="{{dr.recdate |date:'Y-m-d'}}" name="sdate1[]" style="text-align:right">-->
					            		
						              	<td>
										{% for getMaxrecID in getMaxrecID %}	
										<input type="button" name="recNo[]" value = "{{getMaxrecID.newRecNo}}-{{dr.orderNo}}-{{dr.date|date:'d/m/y'}}" step="any" id="recno" style="width:130px !important;" readonly>
										<input type="hidden" id="recNo" name="recNo[]"  style="width:35px" value="{{getMaxrecID.newRecNo}}" >
										{% endfor %}	
			  	 						</td>
						               	<td>
						               	<input type="date" id="datePicker1" name="Recdate[]" required="" value="{{dr.cdate}}">
						              	
						              	<!--<input type="hidden" id="datePicker1" name="Recdate[]"  style="width:35px" value="{{dr.cdate}}" >-->
						              	</td>
						              	
										
						              	
						               <!--	<td>
						               		<input type="button" id="datePicker1" name="custName[]"  style="width:55px" value="{{dr.custName}}" readonly>

						              	</td>-->
						               

						             <input type="hidden" value="{{dr.id}}" name="dsrid1[]" style="text-align:center"></td>	
										
						              <td>
						              	<select name="RecType[]" value="{{dr.recType}}" style="width:65px" id="RecType">
						              			<option value="Cash">Cash</option>
											    <option value="Chq">Cheque</option>
											    <option value="I-Pay">I-Bank</option>
											    <option value="G-Pay">G-Pay</option>
										  	</select>
							
																              	
										
										<!--<input type="text"  name="RecType[]" class="width_percent workflowinputRadius"value="{{dr.recType}}" step="any" style="width:50px">--></td>
										<td>
										<input type="text"  name="PayRefNo[]" step="any" style="width:150px !important;" value="{{dr.payRefNo}}" id="PayRefNo"></td>
										
										<td>&emsp;<input type="number" name="Amount[]" step="any" id="amount" value="{{dr.OsAmt}}">
										</td>
										<td>&emsp;<input type="number" name="Wamount[]" step="any" id="Wamount" value="0">
										</td>
										<td>
											<select name="remove[]" value="{{dr.id}}" style="width:65px" id="remove">
											    <option value="U">U</option>
											    <option value="P">P</option>
										  	</select>
										</td>
										<td>

						              		<input type="button" id="OrderNo" name="OrderNo[]-amount[]"  style="width:130px !important;" value="{{dr.nAmt}}-{{dr.OsAmt}}" readonly>

						              		<input type="hidden" id="OsAmt" name="OsAmt[]"  style="width:35px" value="{{dr.OsAmt}}" readonly>	
						              		
						              		<input type="hidden" id="OrderNo" name="OrderNo[]"  style="width:35px" value="{{dr.orderNo}}" readonly>											
										  
										</td> 
						              
						                <td>
						                	<input type="text" id="remarks"  name="remarks[]" step="any" style="width:200px !important;" value="{{dr.remarks}}"></td>
						                	<td >
										
						               <input type="button"  name="custName[]" step="any" style="width:200px !important;" value="{{dr.custName}}" id="custName"></td>
										
										
										
						                <input type="hidden" value="{{dr.branch}}" name="branch11" />
						               
					               </tr>        
					                {% endfor %}
					       </tbody>			    
						</table>
					</div>
				</div>
					

						
						
		
					</div>
					</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					<button type="submit" class="btn btn-primary btn-lg" id="submitData" value=""> Submit</button>
						

	<br>
	<br>
	<br>
	<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
function myFunction1() {
  document.getElementById("snf").value = (((document.getElementById("clr").value)/4) +(0.21*(document.getElementById("fat").value))+0.36).toFixed(2);
}
</script>

<style>
	.css-serial {
 counter-reset: serial-number; 
}
.css-serial td:first-child:before {
 counter-increment: serial-number;
 content: counter(serial-number); 
}
	th{
	text-align: center !important;
	}
</style>



<script type="text/javascript">
 var snf = document.getElementsById("y_email")[0].value;
 alert(try2);
</script>
<script>
	$(document).ready(function(){
		$('#delete_btn')click(function(){
			if(confirm("Are you sure you want to delete this lists ?")){
				var id=[];
				$(':checkbox:checked').each(function(i){
					id[i]=$(this)val()
				})
				if(id.length==0){
					alert("please select items to delete ?")
				}else{
					console.log(id)
				}
			}
		})
	})
</script>
<script type="text/javascript">
	$(document).on("change", "#coupoun", function(){
        var a =  $(this).find(':selected').data('name');
        $("#center_name").val(a);
    });
	
    function Amount(val) {
    	/*alert("hi");*/
        var fat = document.getElementById('fat').value;
        var qty = document.getElementById('qty').value;
        var snf = document.getElementById('snf').value;
        var rate_min = '{{rate.rate}}';
       	var quantity = parseFloat(qty)/parseFloat(1.03);
       	var a1 = parseFloat(snf) + parseFloat(fat)
        var rate = ( a1* parseFloat(rate_min))/100;
        var total_amount = parseFloat(rate) * parseFloat(quantity);        
        var amount = document.getElementById('rate');
        var total = document.getElementById('amount');
        total.value = total_amount;
        amount.value = rate;
    }
</script>-->
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.add-more-btn').click(function() {
            /*var clone = $('.form-block_1:first').clone();
            $('#form-new').append(clone);*/
            var $tableBody = $('.data-table ').find("tbody"),
            $trFirst = $tableBody.find("tr:First");
		        $trNew = $trFirst.clone();
				
		    $trLast.after($trNew);

        });
    });


</script>
<script>

    $(document).ready(function(){
    document.getElementById("custCodeR").value = localStorage.getItem("custCodeR");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("custCodeR",document.getElementById("custCodeR").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("recno").value = localStorage.getItem("recno");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("recno",document.getElementById("recno").value);
  });

</script>

<script>

    $(document).ready(function(){
    document.getElementById("datePicker1").value = localStorage.getItem("datePicker1");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("datePicker1",document.getElementById("datePicker1").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("RecType").value = localStorage.getItem("RecType");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("RecType",document.getElementById("RecType").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("PayRefNo").value = localStorage.getItem("PayRefNo");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("PayRefNo",document.getElementById("PayRefNo").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("amount").value = localStorage.getItem("amount");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("amount",document.getElementById("amount").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("Wamount").value = localStorage.getItem("Wamount");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("Wamount",document.getElementById("Wamount").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("OrderNo").value = localStorage.getItem("OrderNo");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("OrderNo",document.getElementById("OrderNo").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("remarks").value = localStorage.getItem("remarks");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("remarks",document.getElementById("remarks").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("custName").value = localStorage.getItem("custName");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("custName",document.getElementById("custName").value);
  });

</script>
<script>

    $(document).ready(function(){
    document.getElementById("remove").value = localStorage.getItem("remove");
        });

   $(window).on('beforeunload', function() {
    localStorage.setItem("remove",document.getElementById("remove").value);
  });

</script>

{% endblock %}