{% extends "header.html" %}
{% block title %}Ls Milks{% endblock %}
{% block description %}{% endblock %}
{% block keyword %}{% endblock %}
{% load static %}
{% load mathfilters %}
{% block content %}
<script> 
    $(document).ready(function() { 
        $(function() { 
            $( "#my_date_picker" ).datepicker(); 
        }); 
    }) 
</script> 
<script>
$(document).ready( function() {
    var now = new Date();
 
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#datePicker').val(today);
});</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<style type="text/css">
	table 
	{
	  border-collapse: collapse !important;
	  /*width: 100%;*/
	}
td 
	{
  		*border: 1px solid #dddddd !important;*/
  		text-align: left !important;
  		padding: 7px !important;
	}
th{
	text-align: center !important;
	padding: 7px !important;
	/*border: 1px solid #dddddd !important;*/
}
.no_pad{
	padding-left:0px !important;
	padding-right: 0px !important;
}
.td_border{
	border:none !important;
}
.td_border input{
	width:55% !important;
}
.btn_delete{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_delete:hover{
	background-color: rgb(83,4,4);
}
.btn_submit{
	padding: 8px 10px;
	font-size: 10px;
	text-align: center;
	width:100px;
	display: block;
	background-color: brown;
	color:#fff;
	cursor:pointer;
}
.btn_submit:hover{
	background-color: rgb(83,4,4);
}
th{
	
	color:#000 !important;
}
 input{
	width:155px !important;
}
input[type=date]{
	width:150px !important;
}  
.scroll{
    overflow-y: auto;
    overflow-x: auto;
    height: 400px;
    margin-top: 0px;
    width: 100%;
    white-space: nowrap;

}
    
.scroll thead th {
    position: sticky;
    top: 0;
        
} 
.css-serial {
 counter-reset: serial-number; 
}
.css-serial td:first-child:before {
 counter-increment: serial-number;
 content: counter(serial-number); 
}
    th{
    text-align: center !important;
    }


</style>
<script>
    $(document).ready(function() {
  $('.image-link').magnificPopup({type:'image'});
});
</script>


<div class="container">
	<div style="border:1px solid #dddddd;padding:10px;margin:10px;">
		<div class="col-md-14 col-sm-14 col-xs-14">
				<h2><b><center>Manage Customer</center></b></h2>

			<form  method="POST"  action="/managecustomer/" enctype="multipart/form-data">  
				{% csrf_token %}
			<div class="col-md-14 col-sm-14 col-xs-14" id="table_notshow">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						
						<div class ="scroll">
                        <table class="css-serial">
							<thead class="tableHeadcolor">
					            <tr>
					            
					            	<th style="background-color: #69bc5f !important;">S.NO</th>
					            	<th style="background-color: #69bc5f !important;">Code</th>
					                <th style="background-color: #69bc5f !important;">Name</th>
					                <th style="background-color: #69bc5f !important;" >Category</th>
					                <th style="background-color: #69bc5f !important;">Zone </th>
					                <th style="background-color: #69bc5f !important;">Sales Exec </th>
					                <th style="background-color: #69bc5f !important;">Mobile</th>
					                <th style="background-color: #69bc5f !important;">Email</th> 
					                <th style="background-color: #69bc5f !important;">Address</th>
					                <th style="background-color: #69bc5f !important;">Document</th>
					                <th style="background-color: #69bc5f !important;">Upload Photo</th>
					                
					                <th style="background-color: #69bc5f !important;">Distance</th>
					                <th style="background-color: #69bc5f !important;" >Active</th>   
					                <th style="background-color: #69bc5f !important;">Remove</th>
					            </tr>
					        </thead>
					        <tbody id='form' class="form-block_1">

					            	{% for al in al %}
					            	<tr class="odd"  role="row">
					            		<td> &nbsp;</td>
					            		<!-- <td><input type="text" value="{{dc.date}}" name="date" ></td>
					            		 <td><input type="text" value="{{dc.shift}}" name="shift_loc1" ></td>-->
					            		 <!--x = datetime.strptime(request.POST["date"], "%Y-%m-%d")
										<td>{{board.date |date:'d-m-Y'}}</td>				-->
										<input type="hidden" value="{{al.id}}" name="alid1[]" >
					            		<input type="hidden" value="{{al.branch}}"  name="branch[]" >
						                
						                <td><input type="text" value="{{al.custCode}}" style="width:105px" name="custCode[]" readonly></td>
						                
						                <td><input type="text" value="{{al.custName}}" name="custName[]" ></td>
						                
						                <td><select type="text" value="{{al.cust_type}}" name="cust_type[]" maxlength="6" >
						                	<option>Select</option>
										 <option value="{{ al.cust_type }}" {% if al.cust_type == form.al.value %} selected{% endif %} selected>{{al.cust_type}}</option>
											{% for Custtype in Custtype %}
												<option value="{{Custtype.cTypeCode}}-{{Custtype.cTypeName}}">{{Custtype.cTypeCode}}-{{Custtype.cTypeName}}</option>
											{% endfor %}
									</select></td>
						                
						                <td><select type="text" value="{{al.zoneCode}}" name="zoneCode[]" maxlength="10">
						                <option>Select</option>
										 <option value="{{ al.zoneCode }}" {% if al.zoneCode == form.al.value %} selected{% endif %} selected>{{al.zoneCode}}</option>

											  			{% for zone in zone %}
															<option value="{{zone.zCode}}-{{zone.zName}}">{{zone.zCode}}-{{zone.zName}}</option>
														{% endfor %}
			  							</select></td>
						                
						                <td><select type="text" value="{{al.saleExecCode}}" name="saleExecCode[]" >
						                <option>Select</option>
										 <option value="{{ al.saleExecCode }}" {% if al.saleExecCode == form.al.value %} selected{% endif %} selected>{{al.saleExecCode}}</option>
				{% for salesexec in salesexec %}
					<option value="{{salesexec.SEcode}}-{{salesexec.SEname}}">{{salesexec.SEcode}}-{{salesexec.SEname}}</option>
				{% endfor %}
						               </select>
						               </td> 
						                
						                <td><input type="text" value="{{al.mobile}}" name="mobile[]" ></td>
						                
						                <td><input type="text" value="{{al.email}}" name="email[]" ></td>
						                
						                <td><input type="text" value="{{al.address}}" name="address[]" ></td>
						                <td><a class="image-link" href ="{{al.document}}" name="document[]">view Image</a></td>
				  						<td>
				  							<input type="file" name="HvPhoto[{{al.custCode}}]" style="width: 100%;" accept=""  notrequried   >
				  						</td>
				  						<td><input type="text" value="{{al.distance}}" name="distance[]" ></td>
						               
						               <td>	
						               	<select name="active[]" value="{{al.active}}" id="active" required>

											    <option value="yes">yes</option>
											    <option value="no">no</option>
											     <option value="{{ al.active }}" {% if al.active == form.al.value %} selected{% endif %} selected>{{al.active}}</option>
				
																					    
										  	</select>
										  </td>
                                            
                                            <td>
                                            <select name="remove[]" value="{{al.id}}" style="width:65px">
                                                <option value="N">N</option>
                                                <option value="Y">Y</option>
                                            </select>
                                        </td>

						               
					               </tr>        
					                {% endfor %}
					       </tbody>			    
						</table>
					</div>
					</div>

						
						
		
					</div>
					</div>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
					<button type="reset" class="btn btn-primary btn-lg" value="Reset"> Reset </button>
					<a type="cancel" class="btn btn-primary btn-lg" value="cancel"  href="/customer/" >Cancel </a>

					<button type="submit" class="btn btn-primary btn-lg" > Submit </button>


	<br>
	<br>
	<br>
	<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}